{% extends 'blog/base.html' %}


{% block main %}


{#    <form action="{% url 'blog:article_search' %}" role="search" method="get">#}
{#    {% csrf_token %}#}
{#    <div class="input-group col-md-12">#}
{#        <input type="text" name="q" id="q" class="form-control" placeholder="搜索文章">#}
{#        <span class="input-group-btn">#}
{#            <button class="btn btn-default form-control" type="submit" value="submit">#}
{#                <span class="glyphicon glyphicon-search"></span>#}
{#            </button>#}
{#        </span>#}
{#    </div>#}
{#    </form>#}
{#    page_obj:当前的page对象#}
    {% if page_obj %}

            {% for  post in page_obj %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'blog:article_detail' post.id post.slug %}">{{ post.title }}</a>
                </h1>
 <p>{{ post.summary }}</p>
                <div class="entry-meta">

                    <span class="post-category"><a href="#">{{ post.category }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.create_date }}">{{ post.create_date }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">4 评论</a></span>
                    <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
{#                <p>{{ post.summary }}</p>#}
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blog:article_detail' post.id post.slug %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
            {% endfor %}
        {% endif %}




    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a> </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                     <li class="page-item active"><span class="page-link"> {{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a> </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
        </ul>
    {% endif %}


{% endblock %}